Ref/
HighPriest.exe.h
HighPriest.exe.utf8.h
HighPriest.exe.c
HighPriest.exe

.cache/
.venv/
.vscode/
build/
build64/
build-mingw-direct/
build-mingw-preset/
build-mingw-qt/
build-mingw-qt-ninja/
build-wsl-perm-test/
build-wsl-smoke/

compile_commands.json
